{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Django + React CRUD</title>
    {% render_bundle 'main' 'css' %}
  </head>
  <body>
    <div id="root">
     This is where React will be mounted
    </div>
    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'main' 'js' %}
    {% render_bundle 'runtime~main' 'js' %}
  </body>
</html>
